:root {
  --orange: #FB7413;
  --light-grey: #959EAC;
  --medium-gray: #7C8798;
  --dark-blue: #252D37;
  --very-dark-blue: #121417;
  --primary-font: 'Overpass', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

html {
  height: 100%;
}

body {
  background-color: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

button {
  display: block;
}

.wrapper {
  background-color: #202731;
  margin: 0 1.5rem;
  border-radius: 14px;
  padding: 1.5rem;
}

.star {
  display: inline-block;
  background-color: #262f38;
  padding: .8rem;
  border-radius: 50%;
  width: calc(32px + .8rem);
  height: calc(32px + .8rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.heading {
  font-size: 1.4rem;
  margin-bottom: .6rem;
}

p {
  font-size: .875rem;
  line-height: 1.5;
  max-width: 280px;
  color: var(--medium-gray);
}

.rates {
  display: flex;
  justify-content: space-between;
  margin-top: 1.8rem;
  margin-bottom: 2rem;
}

.rates button {
  background-color: #262f38;
  border: none;
  color: var(--medium-gray);
  padding: .8rem;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  transition: .1s;
}

.rates button:hover {
  background-color: var(--orange);
  color: #fff;
  cursor: pointer;
}

#submit {
  background-color: var(--orange);
  border: none;
  width: 100%;
  padding: .9rem 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 26px;
  max-width: 280px;
  transition: .1s;
}

#submit:hover {
  background-color: #fff;
  color: var(--orange);
  cursor: pointer;
}

@media (min-width: 900px) {
  .wrapper {
    margin: 0;
  }

  .heading {
    font-size: 1.5rem;
  }

  p {
    max-width: 320px;
    font-size: 1rem;
    line-height: 1.3;
  }

  .rates button {
    font-size: 1rem;
  }

  #submit {
    max-width: 320px;
  }
}